@use "../../styles/core" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.adress__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.adress__title {
  padding-left: 0;
  text-align: center;
}

.adress__link {
  display: flex;
  flex-direction: column;
  gap: 71px;

  &Text {
    font-family: "Inter-c", sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 96%;
    text-align: center;
  }
}

@media (max-width: 1410px) {
  .adress__container {
    gap: 24px;
  }

  .adress__link {
    gap: 50px;

    &Text {
      font-size: 28px;
    }
  }

  .adress__title {
    font-size: 28px;
  }
}


@media (max-width: 1180px) {
  .adress__container {
    gap: 20px;
  }

  .adress__link {
    gap: 40px;

    &Text {
      font-size: 24px;
    }
  }

  .adress__title {
    font-size: 24px;
  }
}


@media (max-width: 960px) {
  .adress__container {
    gap: 16px;
  }

  .adress__link {
    gap: 30px;

    &Text {
      font-size: 20px;
    }
  }

  .adress__title {
    font-size: 32px;
  }
}


@media (max-width: 740px) {
  .adress__container {
    gap: 12px;
  }

  .adress__link {
    gap: 20px;

    &Text {
      font-size: 18px;
    }
  }

  .adress__title {
    font-size: 24px;
  }
}


@media (max-width: 540px) {
  .adress__container {
    gap: 14px;
  }

  .adress__link {
    gap: 20px;

    &Text {
      font-size: 13px;
    }
  }

  .adress__title {
    font-size: 22px;
  }
}
