@use "../../styles/core" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.program {
  margin: 0 auto;     
}

.program__title {
 padding-left: clamp(2vw, 4%, 4vw);
}

.program__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 2vh;
  
}

.program__span {
  border: 1px solid #fff;
  width: 100%;
  height: 0px;
}

.program__sectionTitle {
  font-family: "Geist-c", sans-serif;
  font-weight: 900;
  font-size: 24px;  
}

.program__sections   {
  display: flex;
  flex-direction: column;
  gap: 116px;
}

.program__section {
  display: flex;
  flex-direction: column;
  align-content: left;
  gap: 47px;
}



.program__sectionContainer {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-content: center;
  align-items: center;

  p {
    font-family: "Geist-c", sans-serif;
    font-weight: 700;
font-size: 32px;
line-height: 96%;

  }
}

.program__sectionSmall {
  display: flex;
  flex-direction: column;
  gap: 35px;
}