@use "../../styles/core" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hero {
position: relative;

&::after {
     content: ""; 
    position: absolute;
    top: 20%;
    left: 0;
    width: 1119px;
height: 1120px;

    background: url(../../assets/images/hero__abtsractLeft.png) no-repeat;
    background-position: left;
    background-size: contain; 
    z-index: -1; 
  }

  &::before {
    content: ""; 
    position: absolute;
    top: -12%;
    right: 0;
    width: 921px;
height: 938px;

background: url(../../assets/images/hero__abtsractRightpng.png) no-repeat;
    background-position: right;
    background-size: contain; 
    z-index: -1; 

  }

}

.hero__container {
  padding: 122px 0 143px 0;
  display: flex;
  flex-direction: column;
  gap: 113px;
  align-content: center;
  align-items: center;

  

  
}

.hero__info {
  display: flex;
  flex-direction: row;
  gap: 15px;

}

.hero__infoBtn1,
.hero__infoBtn2{
  font-family: G8-c, sans-serif;
  font-weight: 700;
font-size: 32px;
padding: 36px 76px;
}


.small {
  max-width: 520px;
}


.hero__main {
  display: flex;
  flex-direction: column;
  gap: 26px;

&Paragraph {
  font-size: 38px;
}
}

.hero__mainContainer {
  display: flex;
  flex-direction: column;
  gap: 51px;
}


.hero__mainTitle  {
  font-family: "G8-c", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 96%;

  background: linear-gradient(
    292deg,
    #fff 0%,
    #ffdeff 11.44%,
    #abc2f0 49.47%,
    #fff 85.31%
  );

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent; 
}


.hero__mainText {
  font-size: 32px;
  text-align: end;
}

.hero__mainButton {
  position: relative; 
  display: inline-block;
  margin-right: 120px;

  @include btn(
    linear-gradient(180deg, #fff 6.46%, #cfd7ff 100%),
    $blue-zodiac,
    24px,
    29.85px,
    77.27px,
    29.85px,
    77.27px,
    63px
  );

  font-family: "Geist-c", sans-serif;
  font-weight: 900;
  width: fit-content;
  align-self: flex-end;
  z-index: 1; 

  filter: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit; 
    background: inherit; 
    filter: blur(10px);     
    z-index: -1;           
  }

  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.25);
}


