@use "../../styles/core" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.organization__content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  h3 {
    text-align: center;
    font-family: "Inter-c", sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 110%;
  }
}

.organization__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: clamp(20px, 5vw, 50px);
 align-items: center;

  &Element {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 5vw, 35px);

     font-family: "Inter-c", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
  }

  &Span {
    font-weight: 300;
  }

  &Paragraph {
    font-weight: 700;
  }
}

@media (max-width: 1410px) {

  .organization__content {
    gap: 30px;

    h3 {
      font-size: 28px;
      line-height: 108%;
    }
  }

  .organization__list {
    
    gap: clamp(15px, 4vw, 40px);

    &Element {
      gap: clamp(15px, 4vw, 30px);
      font-size: 22px;
    }
  }
}

@media (max-width: 1180px) {

  .organization__content {
    gap: 25px;

    h3 {
      font-size: 24px;
      line-height: 105%;
    }
  }

  .organization__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(12px, 4vw, 30px);
    justify-items: center;

    &Element {
      gap: clamp(12px, 3vw, 25px);
      font-size: 20px;
      width: 100%;
    }

    &Element:nth-child(3) {
      grid-column: 1 / -1;
      justify-self: center;
      align-items: center;
      text-align: center;
    }
  }
}


@media (max-width: 960px) {
  .organization__content {
    gap: 20px;

    h3 {
      font-size: 20px;
      line-height: 102%;
    }
  }

  .organization__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(10px, 5vw, 40px);
    justify-items: center;

    &Element {
      gap: clamp(10px, 3vw, 20px);
      font-size: 18px;
      width: 100%;
      text-align: center;
    }

    &Element:nth-child(3) {
      grid-column: auto;
      justify-self: center;
      align-items: center;
      text-align: center;
    }
  }
}


@media (max-width: 740px) {
  .organization__content {
    gap: 15px;

    h3 {
      font-size: 18px;
      line-height: 100%;
    }
  }

  .organization__list {
    gap: clamp(8px, 5vw, 30px);

    &Element {
      gap: clamp(8px, 3vw, 15px);
      font-size: 16px;
      width: 100%;
      text-align: center;
    }

    &Element:nth-child(3) {
      grid-column: auto;
      justify-self: center;
      align-items: center;
      text-align: center;
    }
  }
}




@media (max-width: 540px) {
  .organization__content {
    gap: 15px;

    h3 {
      font-size: 15px;
      line-height: 100%;
      text-align: start;
    }
  }

  .organization__list {
    gap: clamp(8px, 5vw, 15px);

    &Element {
      gap: clamp(8px, 3vw, 20px);
      font-size: 16px;
      width: 100%;
      text-align: start;
      padding-bottom: 15px;

      border-bottom: 1px solid #fff;


    }

    &Element:nth-child(3) {
      grid-column: auto;
      justify-self: start;
      align-items: start;
      text-align: start;
    }
  }

  .organization__listElement {
    font-size: 14px;
  }

  
}
