@use "../../styles/core" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.organization__content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  h3 {
    text-align: center;
    font-family: "Inter-c", sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 110%;
  }
}

.organization__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: clamp(20px, 5vw, 50px);
 align-items: center;

  &Element {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 5vw, 35px);

     font-family: "Inter-c", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
  }

  &Span {
    font-weight: 300;
  }

  &Paragraph {
    font-weight: 700;
  }
}
