@use "../../../styles/core" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.heroCardBig {
   position: relative;
  background-image: url("../../../assets/images/HeroSection/hero__titleBig.svg");
  background-size: cover;
  background-position: center;
  border-radius: 48px;
  overflow: hidden;
   display: inline-block;
}

.heroContentBig {
  position: relative;
  padding: 37px 89px;
  z-index: 1;
  color: white;
  font-family: "Geist-c", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  
}

@media (max-width: 1620px) {
  .heroContentBig {
    font-size: 25px; 
  
  }
}

@media (max-width: 1410px) {

  .heroCardBig {
    border-radius: 40px;      
    background-size: cover;     
  }

  .heroContentBig {
    padding: 32px 70px;       
    font-size: 22px;          
  }

}

@media (max-width: 1180px) {

  .heroCardBig {
    border-radius: 35px;
    background-size: cover;
  }

  .heroContentBig {
    padding: 25px 50px;
    font-size: 20px;
  }

}


@media (max-width: 960px) {

  .heroCardBig {
    border-radius: 28px;
    background-size: cover;
  }

  .heroContentBig {
    padding: 20px 35px;
    font-size: 18px;
  }

}

@media (max-width: 740px) {

  .heroCardBig {
    border-radius: 24px;
    background-size: cover;
  }

  .heroContentBig {
    padding: 18px 28px;
    font-size: 16px;
  }

}


@media (max-width: 620px) {
  .heroCardBig {
    border-radius: 20px;
    background-size: cover;
  }

  .heroContentBig {
    padding: 15px 22px;
    font-size: 14px;
  }
}


@media (max-width: 540px) {
  .heroCardBig {
  background-image: url("../../../assets/images/HeroSection/hero__titleBigMobile.svg");
  border-radius: 56px;

}

.heroContentBig {
  padding: 10px 17px;
  font-weight: 400;
  font-size: 8px;
  
}  

}