@use "../../../styles/core" as *;
@use "../../../styles/fonts" as *;
@use "../../../styles/variables" as *;

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 42px;
  background: rgba(255, 255, 255, 0.9);
  padding: 28px 43px;

  &__title {
    font-family: "G8-c", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: $blue-zodiac;
  }
}

.card__Underline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25.5px;

  &Text {
    font-family: "G8-c", sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-decoration: underline;
    color: $blue-zodiac;
     &:hover {
    color: lighten($blue-zodiac, 10%);
  }
  transition: color 0.2s ease;
  }

}

 .card__Button {
    border: none;
    background: none;
  }

.card__UnderlineButton {
  color: $blue-zodiac;
  &:hover {
    color: lighten($blue-zodiac, 10%);
  }
  transition: color 0.2s ease;
}


@media (max-width: 1620px) {
  .card {
    &__title {
      font-size: 28px;
    }
  }

  .card__Underline {
    &Text {
      font-size: 28px;
    }
  }
}

@media (max-width: 1410px) {
  .card {
    padding: 24px 35px;

    &__title {
      font-size: 26px;
    }
  }

  .card__Underline {
    gap: 20px;

    &Text {
      font-size: 26px;
    }
  }
}

@media (max-width: 1180px) {
  .card {
    padding: 20px 28px;

    &__title {
      font-size: 22px;
    }
  }

  .card__Underline {
    gap: 16px;

    &Text {
      font-size: 22px;
    }
  }
}

@media (max-width: 960px) {
  .card {
    padding: 16px 20px;
    gap: 12px;
    border-radius: 28px;

    &__title {
      font-size: 18px;
    }
  }

  .card__Underline {
    gap: 15px;

    &Text {
      font-size: 18px;
    }

  }

  .card__UnderlineButton {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 740px) {
  .card {
    padding: 12px 16px;
    gap: 8px;
    border-radius: 20px;

    &__title {
      font-size: 14px;
    }
  }

  .card__Underline {
    gap: 8px;

    &Text {
      font-size: 14px;
    }
  }

  .card__UnderlineButton {
    width: 30px;
    height: 30px;
  }
}


@media (max-width: 540px) {
  .card {
    padding: 12px 12px 12px 15px;
    gap: 8px;
    border-radius: 42px;

    &__title {
      font-size: 11px;
    }
  }

  .card__Underline {
    gap: 7px;

    &Text {
      font-size: 11px;
    }

    
  }

  .card__UnderlineButton {
    width: 18px;
    height: 18px;

    &:hover {
       color: $blue-zodiac;
    }
  }
}


