@use "../../../styles/core" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/fonts" as *;


.card {
  background-image: url('../../../assets/images/OrgCardBackground.svg');
  background-size: cover;       
  background-position: center;
 border-radius: 48px;
  overflow: hidden;
  width: 100%;
  
}



.cardContent {
  position: relative;
  padding: 53px 65px 75px 65px;  
  z-index: 1;
  color: white;
}


@media (max-width: 1410px) {
  .cardContent {
    padding: 40px 50px 60px 50px;
  }
}

@media (max-width: 1180px) {
  .cardContent {
    padding: 30px 35px 45px 35px;
  }
}


@media (max-width: 960px) {
  .card {
    border-radius: 28px;
  }

  
}

@media (max-width: 740px) {
  .cardContent {
    padding: 20px 25px 30px 25px;
  }
}

