@use "../../../styles/core" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.hero__nav {
  padding-top: 57px;
  padding-right: 1vw;

  display: flex;
  flex-direction: row;
  gap: 90px;
}