@use "../../styles/core" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;


.direction__container {
  display: flex;
  flex-direction: column;
  gap: 76.5px;
}

.direction__list {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.direction__cardSmall {
  display: flex;
  flex-direction: column;
  gap: 37px;

  p {
    font-family: "G8-c", sans-serif;
    font-weight: 700;
font-size: 36px;
line-height: 96%;
margin: 0 auto;
  }
}