@use "../../../../styles/fonts" as *;
@use "../../../../styles/core" as *;

.speakers__card {
  display: flex;
  flex-direction: column;
  gap: 22.4px;

  h4 {
    font-family: "Geist-c", sans-serif;
    font-weight: 900;
    font-size: 20px;

  }
}

.speakers__cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;


}

.speakers__cardText {
  display: flex;
  flex-direction: column;
  gap: 18px;
  
  white-space: pre-line;

   p {
    font-family: "Inter-c", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 110%;

  }

}

@media (max-width: 1620px) {
  
.speakers__cardText {
  gap: 17px;


   p {
    font-size: 17px;

  }

}
}

@media (max-width: 1410px) {
  .speakers__card {
    gap: 20px;

    h4 {
      font-size: 18px;
    }
  }

  .speakers__cardContainer {
    gap: 18px;
  }

  .speakers__cardText {
    gap: 16px;

    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 1180px) {
  .speakers__card {
    gap: 18px;

    h4 {
      font-size: 16px;
    }
  }

  .speakers__cardContainer {
    gap: 15px;
  }

  .speakers__cardText {
    gap: 14px;

    p {
      font-size: 14px;
    }
  }
}


@media (max-width: 960px) {
  .speakers__card {
    gap: 16px;

    h4 {
      font-size: 14px;
    }
  }

  .speakers__cardContainer {
    gap: 12px;
  }

  .speakers__cardText {
    gap: 12px;

    p {
      font-size: 12px;
    }
  }
}


@media (max-width: 740px) {
  .speakers__card {
    gap: 12px;

  
  }

  .speakers__cardContainer {
    gap: 22px;
  }


}

@media (max-width: 540px) {
   .speakers__card {
    gap: 12px;

  
  }

  .speakers__cardContainer {
    gap: 24px;
  }

  .speakers__cardText  {
    font-size: 12px;
    font-weight: 400;
  }
}
