@use "../../../styles/core" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.card {
  position: relative;
  width: 100%;
  max-width: 1382px;
  aspect-ratio: 1382 / 1059; 
  margin: 0 auto;
  box-sizing: border-box;
}

.cardSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cardContent {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 27px 35.5px 40px 35.5px;
  color: white;
  gap: 20px;
}
