@use "../../../styles/core" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/fonts" as *;

.map {
  border-radius: 54px;
  overflow: hidden;
  width: 90%;
  max-width: 1366px;
  height: auto;
  aspect-ratio: 1366 / 731;
  background-color: #333;
  margin: 0 auto;
}

[class*="copyrights-pane"] {
  display: none !important;
}


@media (max-width: 1410px) {
  .map {
    width: 95%;
    max-width: 1100px;
    aspect-ratio: 1100 / 588; 
  }
}

@media (max-width: 1180px) {
  .map {
    width: 100%;
    max-width: 900px;
    aspect-ratio: 900 / 480;
  }
}


@media (max-width: 740px) {
  .map {
    border-radius: 28px;
  }
}

