@use "./variables" as *;
@use "./mixins" as *;
@use "./mixins" as *;

html {
  scroll-behavior: smooth;
}


html {
  scroll-behavior: smooth;
  font-size: 100%;
  scroll-behavior: smooth;
}

.container { 
  @include min-max(320px, 100%); 
}

.wrap {
  @include min-max(320px, 1920px);
  width: 100%;
  padding: 0 8vw;
  box-sizing: border-box;
}


.section__wrap {
  @include min-max(320px, 1920px);
  width: 100%;
  padding: 0 11vw;
  box-sizing: border-box;
}




body, 
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}


button {
  font-family: inherit;
  cursor: pointer;

  &:hover {
  filter: brightness(0.9);
  }
}


a, 
p, 
h1, 
h2, 
h3 {
  color: $white;
}