@mixin min-max($min-width, $max-width) {
  min-width: $min-width;
  max-width: $max-width;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin btn($bg, $color, $font-size, $p-top, $p-right, $p-bottom,$p-left, $brd) { 
  background: $bg;
  color: $color;
  font-size: $font-size;
  padding: $p-top $p-right $p-bottom  $p-left;
  border-radius: $brd;
  cursor: pointer;
  border: none;

    &:active {
    transform: scale(0.95); 
    opacity: 0.8;           
  }
}


@mixin fluid-range($prop, $minSize, $maxSize, $minViewport: 740px, $maxViewport: 1620px) {
  #{$prop}: $minSize;

  #{$prop}: clamp(
    #{$minSize},
    calc(
      #{$minSize} + (#{$maxSize - $minSize}) * ((100vw - #{$minViewport}) / (#{$maxViewport - $minViewport}))
    ),
    #{$maxSize}
  );
}