.title {

    font-family: "G8-c", sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 96%;
   background: linear-gradient(310deg, #fff 0%, #b8c7e5 44.14%, #8faade 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-left: clamp(2vw, 4%, 4vw);

}