@use "../../styles/core" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.links {
  padding-bottom: 103px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title {
    text-align: center;
     padding-left: 0;
   
  }

}


.links__list {
display: flex;
flex-direction: row;
gap: 53px;
margin: 0 auto;

}

.links__itemImg {
  width: 260px;
  height: 260px;
  cursor: pointer;
  transition: transform 0.25s ease;

    &:hover {
    transform: scale(1.05); 
  }

  &:active {
    transform: scale(1.1); 
  }
}

@media (max-width: 1620px) {
  
.links__itemImg {
  width: 230px;
  height: 230px;
  cursor: pointer;
  transition: transform 0.25s ease;
}
}

@media (max-width: 1410px) {

  .links {
      padding-bottom: 65px;
  }
  .links__itemImg {
    width: 200px;
    height: 200px;
  }

  .links__list {
    gap: 40px;
  }

  .links__container {
    gap: 30px;
  }
}


@media (max-width: 1180px) {
  .links__itemImg {
    width: 160px;
    height: 160px;
  }

  .links__list {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .links__container {
    gap: 35px;
  }
}


@media (max-width: 960px) {

  .links {
  padding-bottom: 55px; 
  }
  .links__itemImg {
    width: 150px;
    height: 150px;
  }

  .links__list {
    gap: 20px;
  }

  .links__container {
    gap: 25px;
  }
}


@media (max-width: 740px) {
  .links {
    padding-bottom: 40px;
  }

  .links__itemImg {
    width: 120px;
    height: 120px;
  }

  .links__list {
    gap: 15px;
  }

  .links__container {
    gap: 20px;
  }
}



@media (max-width: 540px) {
  .links {
    padding-bottom: 15px;
  }

  .links__itemImg {
    width: 85px;
    height: 85px;
  }

  .links__list {
    gap: 16px;
  }

  .links__container {
    gap: 30px;
  }
}
