@use "../../styles/core" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.section {
  position: relative;
  overflow: visible !important;

  &::after {
    content: "";
    position: absolute;
    bottom: -97%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2115px;
    height: 1647px;

    background: url(../../assets/images/SectionsSection/sections__shadow.svg)
      no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -2;
  }
}

.sections {
  margin: 0 auto;
  padding: 76.5px 0 84px 0;

  &__title {
    padding-left: clamp(2vw, 4%, 4vw);
  }
}

.sections__container {
  display: flex;
  flex-direction: column;
  gap: 46px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
}

.section__listCard {
  font-family: "G8-c", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 96%;
  align-items: center;
}

.section__item {
  display: flex;
  gap: 1.5vw;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 10px 65px;
  margin-top: 2px;
}

.section__number {
  font-family: DelaGothicOne-c;
  font-size: 46px;
  background: linear-gradient(310deg, #fff 0%, #b8c7e5 44.14%, #c8d0e7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  line-height: 1;
  align-self: center;
  justify-content: center;

  background-clip: text;
  color: transparent;
  font-weight: 400;
}

.section__link {
  display: flex;
  align-self: center;
  white-space: nowrap;
}

@media (max-width: 1620px) {
  .section {
    position: relative;

    &::after {
      bottom: -116%;
    }
  }
  .sections {
    padding: 66px 0 74px 0;
  }

  .section__item {
     padding: 10px 15px 10px 55px;
  }

  .sections__container {
    gap: 36px;
  }
}

@media (max-width: 1410px) {
  .sections {
    padding: 60px 0 68px 0;
  }

  .sections__title {
    padding-left: clamp(1.5vw, 3%, 3vw);
  }

  .section__item {
     padding: 10px 15px 10px 45px;
  }

  .sections__container {
    gap: 28px;

    ul {
      gap: 22px;
    }
  }

  .section__listCard {
    font-size: 24px;
  }
}

@media (max-width: 1180px) {
  .sections {
    padding: 50px 0 58px 0;
  }

  .sections__container {
    gap: 22px;

    ul {
      gap: 18px;
    }
  }

   .section__item {
     padding: 10px 15px 10px 35px;
  }

  .section__listCard {
    font-size: 20px;
  }

  .sections__title {
    padding-left: clamp(1vw, 2.5%, 2.5vw);
  }

  .section::after {
    bottom: -140%;
  }
}

@media (max-width: 960px) {
  .sections {
    padding: 40px 0 45px 0;
  }

  .sections__container {
    gap: 18px;

    ul {
      gap: 14px;
    }
  }

  .section__listCard {
    font-size: 18px;
  }

  .sections__title {
    padding-left: clamp(0.5vw, 2%, 2vw);
  }

  .section::after {
    bottom: -160%;
    width: 1800px;
    height: 1400px;
  }
}

@media (max-width: 740px) {
  .sections {
    padding: 30px 0 35px 0;
  }

  .sections__title {
    padding-left: clamp(0.5vw, 1.5%, 1.5vw);
  }

  .sections__container {
    gap: 12px;

    ul {
      gap: 10px;
    }
  }

  .section__listCard {
    font-size: 14px;
  }

  .section::after {
    bottom: -115%;
    width: 1200px;
    height: 950px;
  }
}

@media (max-width: 540px) {

  .section::after {
    display: none;
  }
  
  .sections {
    padding: 11px 0;
  }

  .sections__title {
    padding-left: clamp(0.5vw, 5.5%, 4.5vw);
  }

   .section__item {
     padding: 0px 0px 0px 25px;
  }

  .sections__container {
    gap: 11px;

    ul {
      gap: 6.5px;
    }
  }

  .section__listCard {
    font-size: 10px;
  }

  .section::after {
    bottom: -115%;
    width: 369px;
    height: 200px;
  }

  .section__number {
font-size: 35px;
  }
}
 