.card {
  position: relative;
  width: 100%;
   height: 158px;
  max-width: 1382px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;  
  align-items: center;       
  background: none;

  .cardSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .cardContent {
    position: relative;
    z-index: 1;
    padding: 20px; 
    color: white;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}


.section__listCard:nth-child(2n) .cardSvg {
  transform: rotate(180deg);
}

.flipped .cardSvg {
  transform: rotate(180deg);
}
