@use "../../../../styles/core" as *;
@use "../../../../styles/fonts" as *;

.speakers__title {
  font-family: "Geist-c", sans-serif;
  font-weight: 900;
font-size: 20px;
}

@media (max-width: 1410px) {
  .speakers__title {
    font-size: 18px;
  }
}

@media (max-width: 1180px) {
  .speakers__title {
    font-size: 16px;
  }
}

