@use "../../styles/core" as *;
@use "../../styles/mixins" as *;

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include fluid-range(padding-top, 15px, 75px);
  @include fluid-range(gap, 8px, 20px);
}


@media (max-width: 1180px) {
  .header__container {
    align-items: center;
  }
}


@media (max-width: 960px) {
  .header__container {
    align-items: center;
    padding-left: 0 ;
  }
}



@media (max-width: 620px) {
  .header__container {
    padding-top: 12px;  
    gap: 6px;
  }
}

@media (max-width: 540px) {
  .header__container {
    padding-top: 35px;  
    gap: 15px;
   
  }
}