.nav {

  ul {
    display: flex;
    flex-direction: row;
    gap: 82px;
    
  }
}

@media (max-width: 1620px) {
  .nav ul {
 
    gap: 72px;
    
  }
}

@media (max-width: 1410px) {
  .nav ul {
    gap: 60px;
  }
}

@media (max-width: 1180px) {
  .nav ul {
    gap: 45px;
  }
}


@media (max-width: 960px) {
  .nav ul {
    gap: 38px;
  }
}

@media (max-width: 740px) {
  .nav ul {
    gap: 28px;
  }
}

@media (max-width: 620px) {
.nav ul {
gap: 22px;
}
}







