.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
    width: max-content; 
  height: auto;
  transition: filter 200ms ease;

  .svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 0;
    pointer-events: none;
  }

  .label {
    font-family: G8-c, sans-serif;
    position: relative;
    z-index: 2;
    color: #fff;
    font-weight: 600;
    pointer-events: none;
  }
}

.large {
  width: fit-content;
  height: 100px;

  .label {
    font-size: 32px;
    padding: 36px 76px;
  }
}

.small {
  width: fit-content;
  height: auto;

  .label {
    font-size: 18px;
    padding: 18px 40px;
  }
}

.buttonText {
  font-family: "Geist-c", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: white;
  pointer-events: none;
}

@media (max-width: 1620px) {
  .buttonText {
    font-size: 20px;
  }
}

@media (max-width: 1180px) {

  .large {
    height: 80px;

    .label {
      font-size: 28px;
      padding: 30px 60px;
    }
  }

  .small {
    .label {
      font-size: 16px;
      padding: 14px 32px;
    }
  }

  .buttonText {
    font-size: 18px;
  }

}

@media (max-width: 960px) {

  .large {
    height: 70px;

    .label {
      font-size: 24px;
      padding: 24px 50px;
    }
  }

  .small {
    .label {
      font-size: 14px;
      padding: 12px 28px;
    }
  }

  .buttonText {
    font-size: 16px;
  }

}


@media (max-width: 740px) {
  .large {
    height: 60px;

    .label {
      font-size: 20px;
      padding: 20px 40px;
    }
  }

  .small {
    .label {
      font-size: 12px;
      padding: 10px 24px;
    }
  }

  .buttonText {
    font-size: 14px;
  }
}


@media (max-width: 620px) {
  .large {
    height: 50px;

    .label {
      font-size: 18px;
      padding: 16px 32px;
    }
  }

  .small {
    .label {
      font-size: 10px;
      padding: 8px 20px;
    }
  }

  .buttonText {
    font-size: 12px;
  }
}
