@use "../../styles/core" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.section__wrap {
  @include min-max(320px, 1920px);
  width: 100%;
  padding: 0 11vw;
  box-sizing: border-box;
}

.partners {
  padding: 77px 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.partners__list {
  padding: 86px 71px;
  border-radius: 57px;
  background: $white;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;



  :nth-child(3) {
    gap: 179px;
  }
}

 .partners__item {         
    display: flex;
    flex-direction: row;
    gap: clamp(45px, 3vw, 60px);
    align-items: center;

    

  }

.specialLogo {
  max-height: clamp(40px, 6vh, 57px);
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
}

.specialLogo2 {
  max-height: clamp(120px, 14vh, 140px) !important;
  width: auto;
  height: auto;
}

.specialLogo3 {
  max-height: clamp(160px, 18vh, 184px) !important;
  width: auto;
  height: auto;
}


.partners__item:nth-child(1) .partner__img {
    max-height: clamp(70px, 8vh, 120px);
    width: auto;
    display: block;
    object-fit: contain;
  }

  .partners__item:nth-child(2) .partner__img {
    max-height: clamp(130px, 10vh, 150px);
    width: auto;
    display: block;
    object-fit: contain;
    align-self: center;
  }

  .partners__item:nth-child(3) .partner__img {
    max-height: clamp(100px, 10vh, 130px);
    width: auto;
    display: block;
    object-fit: contain;
    align-self: center;
  }

  @media (max-width: 1620px) {

.partners__list {
  padding: 86px 71px;
  border-radius: 57px;
  background: $white;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;



  :nth-child(3) {
    gap: 110px;
  }
}

.specialLogo2 {
  max-height: clamp(100px, 11vh, 120px) !important;
}

.specialLogo3 {
  max-height: clamp(140px, 15vh, 164px) !important;
}

    .partners__item:nth-child(1) .partner__img {
    max-height: clamp(80px, 8vh, 100px);

  }

  .partners__item:nth-child(2) .partner__img {
    max-height: clamp(100px, 9vh, 140px);

  }

  .partners__item:nth-child(3) .partner__img {
    max-height: clamp(80px, 9vh, 110px);
   
  }
  }

  @media (max-width: 1410px) {

     .section__wrap  {
      padding: 0 8vw;
  }



  .partners__list {
    gap: 25px;

    :nth-child(3) {
      gap: 90px;
    }
  }

  .specialLogo2 {
    max-height: clamp(90px, 10vh, 110px) !important;
  }

  .specialLogo3 {
    max-height: clamp(120px, 14vh, 140px) !important;
  }

  .partners__item:nth-child(1) .partner__img {
    max-height: clamp(60px, 7vh, 100px);
  }

  .partners__item:nth-child(2) .partner__img {
    max-height: clamp(100px, 8vh, 130px);
  }

  .partners__item:nth-child(3) .partner__img {
    max-height: clamp(60px, 8vh, 100px);
  }
}

@media (max-width: 1180px) {

  .section__wrap  {
      padding: 0 8vw;
  }

  .partners__list {
    gap: 20px;

    :nth-child(3) {
      gap: 70px;
    }
  }

  .specialLogo {
  max-height: clamp(40px, 3.5vh, 57px);

}

  .specialLogo2 {
    max-height: clamp(80px, 7vh, 100px) !important;
  }

  .specialLogo3 {
    max-height: clamp(100px, 9vh, 120px) !important;
  }

  .partners__item:nth-child(1) .partner__img {
    max-height: clamp(50px, 6vh, 80px);
  }

  .partners__item:nth-child(2) .partner__img {
    max-height: clamp(70px, 7vh, 90px);
  }

  .partners__item:nth-child(3) .partner__img {
    max-height: clamp(70px, 7vh, 90px);
  }
}


@media (max-width: 960px) {

    .section__wrap  {
      padding: 0 ;
  }


  .partners {
    padding: 55px;
  }

  .partners__list {
    gap: 15px;
     border-radius: 28px;

    :nth-child(3) {
      gap: 50px;
    }
  }

  .partners__item  {
    gap: clamp(25px, 3vw, 40px);
  }

  .section__containerTitle {
    text-align: center;
    padding-left: 0;
  }

  .specialLogo {
    max-height: clamp(25px, 5vh, 35px);
  }

  .specialLogo2 {
    max-height: clamp(50px, 8vh, 70px) !important;
  }

  .specialLogo3 {
    max-height: clamp(70px, 10vh, 90px) !important;
  }

  .partners__item:nth-child(1) .partner__img {
    max-height: clamp(55px, 5vh, 70px);
  }

  .partners__item:nth-child(2) .partner__img {
    max-height: clamp(60px, 6vh, 80px);
  }

  .partners__item:nth-child(3) .partner__img {
    max-height: clamp(55px, 6vh, 80px);
  }
}


@media (max-width: 740px) {
  .section__wrap {
    padding: 0 5vw;
  }

  .partners {
    padding: 40px 0;

     &__container  {
      gap: 35px;
     }
  }

  .partners__list {
    gap: 10px;
    padding: 40px 20px;
    border-radius: 20px;

    :nth-child(3) {
      gap: 30px;
    }
  }

  .partners__item {
    gap: clamp(15px, 3vw, 25px);
  }

  .specialLogo {
    max-height: clamp(20px, 4vh, 28px);
  }

  .specialLogo2 {
    max-height: clamp(35px, 6vh, 50px) !important;
  }

  .specialLogo3 {
    max-height: clamp(50px, 8vh, 65px) !important;
  }

  .partners__item:nth-child(1) .partner__img {
    max-height: clamp(20px, 4vh, 30px);
  }

  .partners__item:nth-child(2) .partner__img {
    max-height: clamp(35px, 5vh, 50px);
  }

  .partners__item:nth-child(3) .partner__img {
    max-height: clamp(25px, 5vh, 40px);
  }

  .section__containerTitle {
    text-align: center;
    padding-left: 0;
  }
}



@media (max-width: 540px) {
  .section__wrap {
    padding: 0 2vw;
  }

  .partners {
    padding: 35px 0;

     &__container  {
      gap: 20px;
     }
  }

  .partners__list {
    gap: 10px;
    padding: 20px 13px;
    border-radius: 15px;

    :nth-child(3) {
      gap: 30px;
    }
  }

 
}
