@use "../../styles/core" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.section__wrap {
  @include min-max(320px, 1920px);
  width: 100%;
  padding: 0 11vw;
  box-sizing: border-box;
}

.partners {
  padding: 77px 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.partners__list {
  padding: 86px 71px;
  border-radius: 57px;
  background: $white;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;



  :nth-child(3) {
    gap: 179px;
  }
}

 .partners__item {         
    display: flex;
    flex-direction: row;
    gap: clamp(45px, 3vw, 60px);
    align-items: center;

    

  }

.specialLogo {
  max-height: clamp(40px, 6vh, 57px);
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
}

.specialLogo2 {
  max-height: clamp(120px, 14vh, 140px) !important;
  width: auto;
  height: auto;
}

.specialLogo3 {
  max-height: clamp(160px, 18vh, 184px) !important;
  width: auto;
  height: auto;
}


.partners__item:nth-child(1) .partner__img {
    max-height: clamp(60px, 8vh, 89px);
    width: auto;
    display: block;
    object-fit: contain;
  }

  .partners__item:nth-child(2) .partner__img {
    max-height: clamp(100px, 10vh, 130px);
    width: auto;
    display: block;
    object-fit: contain;
    align-self: center;
  }

  .partners__item:nth-child(3) .partner__img {
    max-height: clamp(80px, 10vh, 100px);
    width: auto;
    display: block;
    object-fit: contain;
    align-self: center;
  }
