@use "../../../styles/core" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/fonts" as *;

.navCard {
  position: relative;
  background-image: url("../../../assets/icons/nav__button.svg");
  background-size: cover;
  background-position: center;
  border-radius: 48px;
  overflow: hidden;
  width: 100%;
}

.navContent {
  position: relative;
  padding: 23px 20px;
  z-index: 1;
  color: white;
  font-family: "Geist-c", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 32px;
   transition: color 0.4s ease; 

  &:hover {
    color: $cloudy-blue;
  }
}

@media (max-width: 1620px) {
  
.navContent {
 
  font-size: 28px;
  
}
}

@media (max-width: 1410px) {
  .navContent {
    font-size: 24px;
    padding: 20px 16px;
  }

  .navCard {
    border-radius: 36px;
  }
}


@media (max-width: 1180px) {
  .navContent {
    font-size: 20px;
    padding: 16px 12px;
  }

  .navCard {
    border-radius: 28px;
  }
}


@media (max-width: 740px) {
  .navContent {
    font-size: 16px;
    padding: 14.5px 10px;

    &:hover {
       color: white;
    }
  }

  .navCard {
    border-radius: 20px;
     position: relative;
  background-image: url("../../../assets/images/NavSection/nav__btn-mobile.svg");
 
  }
}
