@use "../../styles/core" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.footer {
  padding: 78px 114px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin: 0 auto;

    &Span {
      border: 1px solid #fff;
      max-width: 1440px;
      width: 100%;
      height: 0px;
      margin: 0 auto;
    }
  }
}

.footer__text {
  display: flex;
  flex-direction: column;
  gap: 38px;
  font-family: "Inter", sans-serif;
  color: $white;

  &Link {
    font-weight: 300;
font-size: 24px;
line-height: 96%;
text-decoration: underline;
transition: color 0.4s ease;

 &:hover {
    color: $cloudy-blue;
  }

  }

  &Paragraph {
    font-weight: 400;
font-size: 25px;
  }
}