@use "../../../styles//core" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.button {
  background-image: url(../../../assets/images/ProgramSection/programButtonBackground.svg);
  background-size: cover;
  background-position: center;
  border-radius: 48px;
  overflow: hidden;
  display: inline-block;
  font-family: inherit;
  max-width: 404px;
  width: 100%;
}
.buttonContent {
  font-family: "Geist-c", sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  z-index: 1;

  padding: 35px 27px;
  color: white;
}

@media (max-width: 1620px) {
  .buttonContent {
    font-size: 20px;
    padding: 40px 24px;
  }
}

@media (max-width: 1410px) {
  .buttonContent {
    font-size: 18px;
    padding: 35px 20px;
  }
}

@media (max-width: 1180px) {
  .buttonContent {
    font-size: 16px;
    padding: 30px 18px;
  }
}

@media (max-width: 960px) {
  .button {
     max-width: 250px;
  width: 100%;
  }
  .buttonContent {
    font-size: 14px;
    padding: 25px 15px;
  }
}


@media (max-width: 740px) {
  .button {
    max-width: 230px;
    width: 100%;
  }

  .buttonContent {
    font-size: 12px;
    padding: 20px 12px;
  }
}

@media (max-width: 540px) {
  .button {
    background: url(../../../assets//images//ProgramSection/programButonBackgroundMobile.svg);
    border-radius: 36px;
    max-width: 191px;
    background-repeat: no-repeat;
  }

  .buttonContent {
    font-size: 10px;
    padding: 10.5px 10px;
  }
}
