@use "../../../styles//core" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.buttonText {
  font-family: "Geist-c", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: white;
  pointer-events: none;
}