@use "../../../styles/core" as *;
@use "../../../styles/fonts" as *;
@use "../../../styles/variables" as *;

.card {
display: flex;
flex-direction: column;
gap: 30px;
padding: 70px 60px;
border-radius: 63px;
background: linear-gradient(180deg, #fff 21.65%, #d7defe 96.16%);
}

.card__title {
font-family: "Poppins-c", sans-serif;
font-weight: 800;
font-size: 32px;
line-height: 120%;
background: linear-gradient(90deg, #2d2687 0%, #776fd0 48.08%, #d7d4fa 87.98%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
}

.card__paragraph {
font-family: "Poppins-c", sans-serif;
font-weight: 400;
font-size: 32px;
line-height: 110%;
color: $violent;
background: none;
-webkit-background-clip: unset;
-webkit-text-fill-color: unset;
}

@media (max-width: 1410px) {
.card {
padding: 60px 50px;
gap: 26px;
}
.card__title {
font-size: 28px;
}
.card__paragraph {
font-size: 28px;
}
}

@media (max-width: 1180px) {
.card {
padding: 50px 40px;
gap: 22px;
}
.card__title {
font-size: 24px;
}
.card__paragraph {
font-size: 24px;
}
}

@media (max-width: 960px) {
.card {
padding: 40px 30px;
gap: 18px;
border-radius: 28px;
}
.card__title {
font-size: 20px;
}
.card__paragraph {
font-size: 20px;
}
}

@media (max-width: 740px) {
.card {
padding: 25px 20px;
gap: 12px;
border-radius: 20px;
}

.card__paragraph {
font-size: 16px;
}
}


@media (max-width: 740px) {
.card {
padding: 15px 18px;
gap: 10px;
border-radius: 13px;
background: linear-gradient(230deg, #fff 62.14%, #d7defe 96.16%);
}

.card__title {
  font-size: 12px;
}

.card__paragraph {
font-size: 10px;
}
}
