@use "../../../styles/core" as *;
@use "../../../styles/fonts" as *;
@use "../../../styles/variables" as *;


.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 70px 60px;
  border-radius: 63px;
  background: linear-gradient(180deg, #fff 21.65%, #d7defe 96.16%);

  &__title,
  &__paragraph {
    font-family: "G8-c", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: $blue-zodiac;
  }

  p {
    font-weight: 400;
  }
}

@media (max-width: 1410px) {
  .card {
    padding: 60px 50px;
    gap: 26px;

    &__title,
    &__paragraph {
      font-size: 28px;
    }
  }
}

@media (max-width: 1180px) {
  .card {
    padding: 50px 40px;
    gap: 22px;

    &__title,
    &__paragraph {
      font-size: 24px;
    }
  }
}
